.main-head {
	background-color: rgb(156, 42, 48);
	padding-left: 1em;
	padding-right: 1em;
	display: flex;
    	justify-content: space-between;
}
.side {
	background-color: rgb(255, 197, 197);
}
.main-footer, .mobile-footer {
	background-color: rgb(226, 255, 192);
}
.content {
	background-color: rgb(255, 196, 255);
	overflow-y: auto;
}
.content article, .main-footer, .mobile-footer {
	padding: 1em;
}
nav {
	background-color: rgb(156, 42, 48);
	color: white;
}

.main-head {
	grid-area: header;
}
.content {
	grid-area: content;
}
.main-nav {
	grid-area: nav;
}
.side {
	grid-area: sidebar;
}
.main-footer {
	grid-area: footer;
}
.mobile-footer {
	grid-area: mobile-footer;
}

.wrapper {
	width: 100vw;
	height: 100dvh;
	margin: 0;
}

/* 0 -> 500px */
.main-nav, .main-footer {
	display: none;
}
.mobile-footer {
	display: block;
}
.wrapper {
	display: grid;
	gap: 0px;
	overflow-y: auto;
	grid-template-rows: auto max-content auto;
	grid-template-areas:
		'header'
		'content'
		'mobile-footer';
}
/* 500px -> 700px */
@media (min-width: 500px) {
	.wrapper {}
}
/* 700px -> infinity */
@media (min-width: 700px) {
	.main-nav, .main-footer {
		display: block;
	}
	.mobile-footer {
		display: none;
	}
	.wrapper {
		overflow-y: unset;
		grid-template-columns: auto 5fr;
		grid-template-rows: auto 1fr;
		grid-template-areas:
			'header header'
			'nav    content';
	}
}
