:root {
	--background-main: #220e4d;
	--background-heavy: #290634;
	--background-medium: #ddd6f5;
	--background-lightest: #f6f5fb;
}
.main-head {
	background-color: var(--background-main);
	padding-left: 1em;
	padding-right: 1em;
	display: flex;
	justify-content: space-between;
}
/* .side {
	background-color: rgb(255, 197, 197);
} */
.main-footer, .mobile-footer {
	background-color: var(--background-medium);
}
.content {
	background-color: var(--background-lightest);
	overflow-y: auto;
}
.content article, .main-footer, .mobile-footer {
	padding: 1em;
}
nav {
	background-color: var(--background-main);
	background: linear-gradient(180deg, var(--background-main) 0%, var(--background-heavy) 70%);
	color: white;
}

.main-head {
	grid-area: header;
}
.content {
	grid-area: content;
}
.main-nav {
	grid-area: nav;
}
.side {
	grid-area: sidebar;
}
.main-footer {
	grid-area: footer;
}
.mobile-footer {
	grid-area: mobile-footer;
}

.wrapper {
	width: 100vw;
	height: 100dvh;
	margin: 0;
}

/* 0 -> 500px */
.main-nav, .main-footer {
	display: none;
}
.main-footer, .mobile-footer {
	flex: 1;
}
.mobile-footer {
	display: block;
}
.wrapper {
	display: grid;
	gap: 0px;
	overflow-y: auto;
	grid-template-rows: auto minmax(max-content,1fr) auto;
	grid-template-areas:
		'header'
		'content'
		'mobile-footer';
}
/* 500px -> 700px */
@media (min-width: 500px) {
	.wrapper {}
}
/* 700px -> infinity */
@media (min-width: 700px) {
	.main-nav, .main-footer {
		display: block;
	}
	.mobile-footer {
		display: none;
	}
	.wrapper {
		overflow-y: unset;
		grid-template-columns: auto 5fr;
		grid-template-rows: auto 1fr;
		grid-template-areas:
			'header header'
			'nav    content';
	}
	.content {
		display: grid;
		grid-template: 1fr auto / 1fr;
	}
	.content > * {
		grid-column: span 1;
	}
}
