:root {
	--main-color: #45adb0;
	--content-color: rgb(243, 243, 243);
	--footer-color: rgb(119, 119, 119);
}

.main-head {
	background-color: var(--main-color);
	padding-left: 1em;
	padding-right: 1em;
	display: flex;
	justify-content: space-between;
}
.side {
	background-color: rgb(255, 197, 197);
}
.main-footer,
.mobile-footer {
	background-color: var(--footer-color);
}
.content {
	background-color: var(--content-color);
	overflow-y: auto;
}
.content article,
.main-footer,
.mobile-footer {
	padding: 1em;
}
nav {
	background-color: var(--main-color);
	color: white;
}

.main-head {
	grid-area: header;
}
.content {
	grid-area: content;
}
.main-nav {
	grid-area: nav;
}
.side {
	grid-area: sidebar;
}
.main-footer {
	grid-area: footer;
}
.mobile-footer {
	grid-area: mobile-footer;
}

.wrapper {
	width: 100vw;
	height: 100dvh;
	margin: 0;
}

/* 0 -> 500px */
.main-nav,
.main-footer {
	display: none;
}
.main-footer,
.mobile-footer {
	flex: 1;
}
.mobile-footer {
	display: block;
}
.wrapper {
	display: grid;
	gap: 0px;
	overflow-y: auto;
	grid-template-rows: auto max-content auto;
	grid-template-areas:
		'header'
		'content'
		'mobile-footer';
}
/* 500px -> 700px */
@media (min-width: 500px) {
	.wrapper {
	}
}
/* 700px -> infinity */
@media (min-width: 700px) {
	.main-nav,
	.main-footer {
		display: block;
	}
	.mobile-footer {
		display: none;
	}
	.wrapper {
		overflow-y: unset;
		grid-template-columns: auto 5fr;
		grid-template-rows: auto 1fr;
		grid-template-areas:
			'header header'
			'nav    content';
	}
}
